@inherits LayoutComponentBase
@inject NotificationService NotificationService

<HeadContent>
    <RadzenTheme Theme="material-dark"/>
</HeadContent>

<RadzenLayout>
    <RadzenHeader>

        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" class="rz-my-3 rz-mx-3">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10">
                <RadzenSidebarToggle Click="@(() => _isSidebarExpanded = !_isSidebarExpanded)"/>
                <RadzenLabel Text="MelodyTrack"/>
            </RadzenStack>
            <LoginDisplay/>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_isSidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Календарь" Icon="calendar_month" Path="/"/>
            <RadzenPanelMenuItem Text="Клиенты" Icon="groups" Path="/clients"/>
            <RadzenPanelMenuItem Text="Статистика" Icon="trending_up" Path="/stats"/>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        &copy; 2024
        <RadzenLink Path="https://dadyarri.ru" Text="dadyarri" Target="_blank"/>
    </RadzenFooter>
</RadzenLayout>

<RadzenComponents/>

@code {
    bool _isSidebarExpanded = true;

    protected override async Task OnInitializedAsync()
    {
    }

}

