<div class="desktop-nav">
    <RadzenStack AlignItems="AlignItems.Center" class="rz-p-5 rz-pt-10">
        <RadzenText TextStyle="TextStyle.DisplayH5">Melody Track</RadzenText>
        <RadzenPanelMenu Style="" Multiple="false">
            <RadzenPanelMenuItem Text="Главная" Icon="home" Path="/"/>
            <RadzenPanelMenuItem Text="Клиенты" Icon="group" Path="/clients"/>
            <RadzenPanelMenuItem Text="Календарь" Icon="calendar_month" Path="/calendar"/>
            <RadzenPanelMenuItem Text="Статистика" Icon="monitoring" Path="/stats"/>
        </RadzenPanelMenu>
    </RadzenStack>
</div>

