@page "/calendar"

<PageTitle>Календарь | MelodyTrack</PageTitle>

<RadzenText TextStyle="TextStyle.H1">Календарь</RadzenText>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app.
