@using MelodyTrack.Web.Components.Themes
@inherits LayoutComponentBase
@inject ProtectedLocalStorage LocalStorage

<MudThemeProvider Theme="@MainTheme.Theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@(_ => DrawerToggle())"/>
        <MudText Typo="Typo.h5" Class="ml-3">MelodyTrack</MudText>
        <MudSpacer/>
        <MudText></MudText>
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4 my-8">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;

    protected override async Task OnInitializedAsync()
    {
        _firstName = (await LocalStorage.GetAsync<string>("first_name")).Value;
        _lastName = (await LocalStorage.GetAsync<string>("last_name")).Value;
    }

    private string? _firstName;
    private string? _lastName;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}
